body {
    background-color: #FFB97D;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
    padding-right: 20px;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.timeline {
    position: fixed;
    left: 20px;
    top: 100px;
    height: calc(100% - 100px);
    border-left: 2px solid #333;
    padding-left: 10px;
}

.timeline ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.timeline ul li {
    position: relative;
    margin: 20px 0;
}

.timeline ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    width: 80px;
    text-align: center;
}

.timeline ul li a:hover::after {
    content: attr(title);
    position: absolute;
    left: 100px;
    top: 0;
    background: #fff;
    border: 1px solid #333;
    padding: 5px 10px;
    border-radius: 4px;
    white-space: nowrap;
}

.container {
    text-align: center;
    padding: 100px 50px 50px 150px; /* Add left padding to account for timeline */
}

.container h1 {
    font-size: 2.5em; /* 增大標題字體大小 */
}

.container h2 {
    font-size: 2em; /* 增大次級標題字體大小 */
    font-weight: bold; /* 增加字體粗細 */
    margin-top: 20px; /* 增加頂部邊距 */
}

.photos {
    margin: 20px 0;
}

.photos img {
    width: 20%; /* 縮小圖片寬度到現在的30% */
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.app-icons img {
    margin: 10px;
    width: 150px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    font-size: 0.8em;
}

ul {
    list-style-type: none; /* 移除列表前的符號 */
    padding: 0;
}


/* 新隱私政策頁面樣式 */
.privacy-policy {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.privacy-policy header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.privacy-policy nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
    padding-right: 20px;
}

.privacy-policy nav ul li {
    display: inline;
    margin-left: 20px;
}

.privacy-policy nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.privacy-policy .container {
    padding: 80px 20px; /* Adjust padding to account for the fixed header */
}

.privacy-policy .container h1, .privacy-policy .container p {
    font-size: 1.2em;
}

.privacy-policy .footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    font-size: 0.8em;
}